* {
    color: purple;
    background: lightgray;
    font-family: "Times New Roman", sans-serif;
    font-size: 19px;
}

img {
    width: 600px;
    height: auto;
    border: solid 2px rebeccapurple;
}

.home {
    color:orchid
}

.index {
    font-size: 20px;
    padding: 20px;
}

a {
    font-size: 35px;
    padding: 18px;
    color: orchid;
}

.center {
    text-align: center;
    text-decoration: underline;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

body {
    display: grid;
    grid-gap: 1em;
}